.footerIndex {
  background-color: #A16C5C;
}

.text-uppercase {
  color: #D8CCBC;
  margin-bottom: 10px;
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.icono {
  width: 30px;
  height: 30px;
}

body2 {
  color: #D8CCBC;
  align-items: center;
}

@media (max-width: 600px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ul {
    align-items: center;
    text-align: center;
    padding: 0px;
  }
}

.list-unstyled li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

@media (min-width: 600px) and (max-width: 899px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}